<div class="container">
  <h1 class="text-center">{{photo.titulo}}</h1>
  <p *ngIf="message.length" class="alert alert-info">{{message}}</p>
  <form [formGroup]="registerPhoto" (submit)="saveNewPhoto($event)" class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Título</label>
        <input name="titulo" formControlName="titulo" [(ngModel)]="photo.titulo" class="form-control" autocomplete="off">
        <div *ngIf="!registerPhoto.controls.titulo.valid">
          <span *ngIf="registerPhoto.controls.titulo.errors.required" class="form-control alert-danger">Título obrigatório</span>
          <span *ngIf="registerPhoto.controls.titulo.errors.minlength" class="form-control alert-danger">Título deve ter no mínimo 4 caracteres</span>
        </div>
      </div>
      <div class="form-group">
        <label>URL</label>
        <input name="url" formControlName="url" [(ngModel)]="photo.url" class="form-control" autocomplete="off">
        <span *ngIf="!registerPhoto.controls.url.valid" class="form-control alert-danger">URL obrigatória</span>
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <textarea name="descricao" formControlName="descricao" [(ngModel)]="photo.descricao" class="form-control" autocomplete="off"></textarea>
      </div>

      <action typeActio="submit" style=" btn-primary" text="Save" [isDisabled]="!registerPhoto.valid" [needConfirm]="false"></action>
      <a [routerLink]="['']" class="btn btn-primary">Back</a>
      <hr>
    </div>
    <div class="col-md-6">
      <photo url="{{photo.url}}" title="{{photo.titulo}}"></photo>
    </div>
  </form>
</div>
